<div class="wrapper">
  <div class="side-bar">
    <input class="form-submit" type="submit" value="攻撃をする">
    <div class="order-form">
      <div class="form-input">
        <input class="form-message">
      </div>
      <input class="form-submit" type="submit" value="買物をする">
    </div>
  </div>
  <div class="main">
    <div class="mammon">
      <%= image_tag 'pose-akuma2.jpeg' %>
    </div>
    <div class="text">
      HP:
      <em><%= @user.target_amount %></em>
      /
      <em><%= @user.target_amount %></em>
    </div>
    <div class="text">
      MP:
      <em>0</em>
      /
      <em><%= @user.target_date %></em>
    </div>
  </div>
</div>