<div class="wrapper">
  <div class="side-bar">
    <input class="form-submit" type="submit" value="攻撃をする">
    <div class="order-form">
      <div class="form-input">
        <input class="form-message">
      </div>
      <input class="form-submit" type="submit" value="買物をする">
    </div>
  </div>
  <div class="main">
    メイン
  </div>
</div>